.wrapper{width:100%; height:auto; _overflow:hidden}
section{width:100%; height:auto;}
section div.one-layout{width:100%; height:100px; background:#999;}
section div.three-layout{width:100%; height:auto; display: flex; flex-wrap:wrap;}
section div.three-layout>div{width:33.33%; height:100px; border:1px solid; _float:left;}

section div.four-layout{width:100%; height:auto; display: flex; flex-wrap:wrap;}
section div.four-layout>div{width:25%; height:100px; border:1px solid; _float:left;}